<!DOCTYPE html>
<html lang = "en">


<head>
    <meta charset="utf-8">
    <title>CMSC335 Car Rental</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div id="rent">
        <h1>Confirmation of Rental</h1>

        <p><b>You have successfully reserved your rental vehicle!</b></p>
        <p><b>Below is your reservation confirmation:</b></p>

        <div id = "confirmation">
            <strong>Car: </strong><%- car %><br><br>
            <strong>Name: </strong><%- name %><br><br>
            <strong>Email Address: </strong><%- email %><br><br>
            <strong>City: </strong><%- city %><br><br>
            <strong>From: </strong><%- from %><br><br>
            <strong>To: </strong><%- to %><br>
        </div>

        <p>For any questions or cancellations, please contact rentalSupport@cmsc335rental.com</p>

        <p><b>THANK YOU</b></p>

        <p><a href="/">HOME</a></p>
    </div>

</body>

</html>