<!DOCTYPE html>
<html lang = "en">


<head>
    <meta charset="utf-8">
    <title>CMSC335 Car Rental</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div id="ret">
        <h1>Confirmation of Return</h1>

        <p><b>You have successfully returned your rental vehicle!</b></p>
        <p><b>Below is your return confirmation:</b></p>
    
        <div id = "confirmation">
            <strong>Car: </strong><%- car %><br><br>
            <strong>License Plate: </strong><%- licensePlate %><br><br>
            <strong>Name: </strong><%- name %><br><br>
            <strong>Email Address: </strong><%- email %><br><br>
            <strong>City: </strong><%- city %><br><br>
        </div>
    
        <p>For any questions, please contact rentalSupport@cmsc335rental.com</p>
    
        <p><b>THANK YOU</b></p>
    
        <p><a href="/">HOME</a></p>
    </div>

</body>

</html>
